body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main {
  display: flex;
  height: 100vh;
}
.sidebar {
  background-color: black;
  width: 340px;
  border-radius: 1rem;
}
.main-content {
  background-color: #121212;
  flex: 1; /*which means give all the ramaining space to me after giving the all the div required space */
  border-radius: 1rem;
  overflow: auto; /*by setting auto it only show scoll when necessary , Whereas the scroll always show */

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 10px;
}
.music-player {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}

.nav {
  width: 95%;
  margin: 10px;
  padding: auto;
  height: 100px;
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.nav a {
  text-decoration: none;
  color: white;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  font-size: 1.3rem;
  margin-bottom: -10px;
  padding: 0.5rem 0.5rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 500;
}
.nav-option i {
  margin-left: 0.5rem;
}
.library {
  width: 95%;
  margin: 10px;
  padding: auto;
  height: 100%;
  background-color: #121212;
  border-radius: 1rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}
.lib-option a {
  color: white;
}
.icons {
  font-size: 1.15rem;
  display: flex;
}
.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover {
  opacity: 1;
}

.box {
  height: 8rem;
  background-color: #232323;
  border-radius: 1rem;
  margin: 0.8rem 0.5rem 1.75rem 0.5rem;
  padding: 1rem 1.25rem;
}
.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}
.box-p2 {
  font-size: 0.75rem;
  opacity: 0.9;
}
.badge {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 10f;
}

.sticky-nav-icons {
  margin-left: 0.75rem;
}
.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin-right: 1rem;
}

.dark-badge {
  background-color: black;
  color: white;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.card {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card-image {
  width: 100%;
  border-radius: 0.5rem;
}
.card-title {
  font-weight: 600;
}
.card-info {
  opacity: 0.8;
  font-size: small;
}
.footer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
  opacity: 0.6;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.album {
  width: 25%;
}
.player {
  width: 50%;
}
.control {
  width: 25%;
}

.player-control-icon {
  height: 1rem;
  margin-left: 2rem;
}
.player-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  width: 60%;
  appearance: none;
  background-color: black;
  cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6.5px;
}
.status {
  display: flex;
}
.status img {
  height: 4rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.8rem;
}

.song-name {
  font-weight: 500;
}
.name {
  opacity: 0.9;
}
.song-name::selection {
  background-color: white;
  color: black;
}
@media (max-width: 1000px) {
  .song-details {
    display: none;
  }
}
.control {
  display: flex;
  align-items: center;
}
.volumeee {
  margin-left: 120px;
}

@media (max-width: 900px) {
  .sidebar {
    /* display: none; */
    width: 200px;
    margin-right: 10px;
  }
  .library {
    /* display: none; */
    width: 200px;
    /* margin-right: 10px !important; */
  }
  .card {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
  .library {
    display: none;
  }

  .card {
    width: 80px;
  }
}
